{% extends 'App2/index.html' %}

{% load static %}

{% block codigoDinamico %}
<center>
    <h1>Acerca de Nosotros</h1>
    
    <P style="font-size:120%;">
        
        Bienvenido a autoparts, tu destino confiable para todas tus necesidades de autopartes. 
        Fundada en 2020, nuestra misión es proporcionar a los entusiastas del automóvil y 
        a los profesionales del sector las piezas y accesorios de la más alta calidad,
        respaldados por un servicio excepcional.
    </P>  
    <br/><br/><br/>
    <h1>Nuestra Historia</h1>
    <P style="font-size:120%;">

        Desde nuestros inicios, hemos estado comprometidos con la excelencia. 

        Comenzamos como un pequeño taller de reparación, pero rápidamente nos dimos 
        cuenta de que había una creciente demanda de autopartes de calidad. 

        Así nació autoparts, con la visión de ser un proveedor integral que no solo 
        ofrezca productos, sino también conocimiento y experiencia en el mundo 
        automotriz.
    </P> 
    <br/><br/><br/>
       <h1> Nuestra Misión</h1>
       <P style="font-size:120%;"> 
        En autoparts, creemos que cada vehículo merece lo mejor.
        Nuestra misión es facilitar a nuestros clientes el acceso a una amplia 
        variedad de autopartes, desde componentes esenciales hasta accesorios 
        personalizados. Nos esforzamos por ofrecer productos que cumplan con los
        más altos estándares de calidad, garantizando así la seguridad y el 
        rendimiento de cada automóvil.
    </P> 
    <br/><br/><br/>
    <h1> Nuestro Compromiso</h1>
    <P style="font-size:120%;">
        Nos enorgullece contar con un equipo de expertos apasionados por el 
        automovilismo. Cada miembro de nuestro equipo está comprometido a 
        brindarte la mejor experiencia de compra, asesorándote en cada paso del 
        proceso. Ya sea que estés buscando una pieza específica o necesites 
        recomendaciones, estamos aquí para ayudarte.
    </P>   
    <br/><br/><br/>
    <h1> ¿Por qué Elegirnos?</h1>
    <P style="font-size:120%;">
        Calidad Garantizada: Trabajamos con proveedores de renombre y realizamos 
        rigurosos controles de calidad para asegurarnos de que cada producto que ofrecemos cumpla con tus expectativas.
        Variedad de Productos: Nuestra extensa gama de autopartes abarca desde 
        motores y transmisiones hasta accesorios estéticos, garantizando que 
        encuentres todo lo que necesitas en un solo lugar.
        Atención Personalizada: Valoramos a nuestros clientes y nos esforzamos por
        ofrecer un servicio al cliente excepcional. Tu satisfacción es nuestra prioridad.
        Precios Competitivos: Creemos que la calidad no debería ser un lujo. Ofrecemos precios 
        competitivos para que puedas mantener tu vehículo en óptimas condiciones sin 
        afectar tu presupuesto.
        </P>
<br/><br/><br/>
        <h1>Únete a Nuestra Comunidad</h1>
        <P style="font-size:120%;">
        Te invitamos a explorar nuestro sitio web y descubrir todo lo que tenemos 
        para ofrecer. Ya seas un aficionado al automovilismo, un mecánico 
        profesional o simplemente alguien que busca mantener su vehículo en 
        perfecto estado, en autoparts encontrarás lo que necesitas.
        
        Gracias por elegir autoparts. ¡Esperamos ser tu socio de confianza en el apasionante mundo de las autopartes!
    </P>  

    </center>
    

{% endblock  %}